<!-- Slider main container -->
<div class="swiper-container" id="swiperContainer">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        {{#each photos ~}}
        <!--Primero itero cada objeto-->
        <!--Luego itero cada propiedad-->
        {{#each this}}
        {{~#if imageURL}}
        <div class="swiper-slide">
            <img src="{{imageURL}}" alt="">
            <div class="descriptionDiv">
                <span>
                    {{description}}
                </span>
            </div>
        </div>

        {{~/if~}}

        {{/each}}

        {{~/each}}
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

</div>
