<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <form action="">
                    <div class="form-group pb-3">
                        <input type="text" class="form-control" placeholder="Image Title">
                    </div>

                    <div class="form-group">
                        <textarea name="description" class="form-control" placeholder="Image Description"></textarea>
                    </div>

                    <div class="form-group">

                        <label for="formFile" class="form-label mt-4">Choose an Image</label>
                        <input class="form-control" name="image" type="file" id="formFile">

                    </div>

                    <button class="btn btn-success w-100 mt-3">Upload Image</button>
                </form>
            </div>
        </div>
    </div>
</div>